<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Paiment.css">
    <title>Document</title>
</head>
<body>
    <article>
        <div class="container">
        <h1 class="form-title">Paiment</h1>
        <form name="FormD" id="FormD" method="post" action="">
          <div class="main-user-info">
            <div class="user-input-box">
              <label for="Montant">Prénom </label>
              <input type="Montant" name="Montant" placeholder="Montant">
            </div>
            <div class="user-input-box">
              <label for="RIB">RIB</label>
              <input type="text" name="RIB"  placeholder="RIB">
  
            </div>
            <div class="user-input-box">
              <label for="pwd">Code CVC</label>
              <input type="password" name="pwd">
            </div>
            <div class="user-input-box">
              <label for="cin">CIN </label>
              <input type="text" name="cin" required autofocus placeholder="votre cin">
            </div>
            <div class="form-submit-btn">
              <input type="submit" value="Payer">
            </div>
            </div>
          </form>
            <article>
</body>
</html>