header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(entet.png);

  }
figure{
    display: flex;
    align-items: center;
    justify-content: space-between;}
  img{
    /* float:left; */
    width: 60px;
    height: 60px;
    margin-right: 10px;
    
}
  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    /* margin: 0; */
    margin-right: 40px;
  }
  
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  
  .nav-menu li a {
    text-decoration: none;
    color: #347cf9;
  }
  .nav-menu li a:hover {
    text-decoration: none;
    color: rgb(3, 155, 3);
  }
  
  .header-text {
    margin-left: 20px;
  }
  
  .nav-logo-title1 {
    margin: 0;
    color:#347cf9;
  }
  .nav-logo-title2 {
    margin: 0;
    color:rgb(3, 155, 3);
  }

  